@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css?family=Jura:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Jura", sans-serif !important;
  font-weight: "bold" !important;
  text-align: center;
}
p,
span {
  font-family: "Questrial", sans-serif !important;
  font-weight: "bold" !important;
  line-height: 1.5em;
  color: ;
}

.svg {
  height: 250px !important;
  width: 100% !important;
}

.section {
  height: 63vh;
  background-color: #7510f7;
  margin-top: -1.5%;
}

.skills{
  
    background-color: white;
}

.cards{
    padding: 70px 42px;
    min-height: 380px !important;
}

.projects{
  height: 210px !important;
}
.projects:hover{
  transition: opacity 1s;

}
.website:hover{
  transition: opacity 1s;
  height: 250px !important;

}
.worked-companies{
  height: 50px;
  border: none !important;
  padding : 10px
}

.traderzlink{
  font-family: 'Cinzel', serif !important;
}

.testimonials{
  height: 40vh;
  background-color: #7510f7;
  margin-top: 5%;  
  padding-top: 6%;
}
.testimonials-cards{
  padding: 50px 32px;
  height: 300px !important;
}

.footer{
  height: 40vh;
  background-color: #7510f7;
  margin-top: -3%;  
  padding-top: 6%;
}

.sub-footer{
  height: 13vh;
  background-color: #141c3a;
  border-radius: 20px;
  padding :0px 20px ;
  position: relative
  
}

.resume-button:hover{
  background-color: #7510f7 !important;
}
.website-button:hover{
  background-color: #7510f7 !important;
  border: 2px solid #7510f7 !important;
}

.footer-icon:hover{
  background-color: white !important;
  color: #7510f7 !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .section {
    height: 35vh;
    background-color: #7510f7;
    margin-top: -1.5%;
  }
  .footer{
    height: 65vh;
    padding-top: 200px;
  }
  .sub-footer{
    height:60%;
    margin-bottom: -70px;
    margin-top: -50px
  }
  .testimonials{
    height:25vh

   }
  
}
@media only screen and (max-width: 768px) and (min-width: 767px) {
  .section {
    height: 45vh;
    background-color: #7510f7;
    margin-top: -1.5%;
  }

  .footer{
    height: 60vh;
    padding-top: 200px;
  }
  .sub-footer{
    height:60%;
    margin-bottom: -150px;
    margin-top: -50px
  }
  .testimonials{
    height:25vh

   }
}

@media only screen and (max-width: 414px) {
  .svg {
    height: 120px !important;
  }
  .myself-image {
    height: 150px !important;
  }
  .section {
    margin-top: -25px;
    height: 63vh;

  }
  h1 {
    font-size: 35px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  p {
    font-size: 15px !important;
  }
  .calvin{
    margin-top: 50px;
  }
  span{
    font-size: 10px;
  }
  .sub-footer{
    height:60%;
    margin-bottom: -150px;
    margin-top: -50px
  }
  .proud{
    font-size: 20px !important;
  }
  .footer{
    height: 90vh;
    padding-top: 200px;
  }
  .testimonials{
   margin-bottom: -80px;
  }
}

@media only screen and (max-width: 320px) {


  .section {
    margin-top: -40px;
    margin-bottom: -50px;
    height: 95vh;

  }
}
